{% extends "base.html" %} {% block content %}
<h2>Створення нової таблиці в базі даних '{{ db_name }}'</h2>
{% if error %}
<p style="color: red">Error: {{ error }}</p>
{% endif %}
<form action="/databases/{{ db_name }}/create_table" method="post">
  <label for="table_name">Назва таблиці:</label><br />
  <input type="text" id="table_name" name="table_name" required /><br /><br />
  <label for="attributes">Атрибути (формат: name:type, розділені комами):</label
  ><br />
  <input type="text" id="attributes" name="attributes" required /><br /><br />
  <button type="submit">Створити таблицю:</button>
</form>
{% endblock %}
