<!-- templates/edit_table.html -->
{% extends "base.html" %} {% block content %}
<h2>Відредактувати таблицю '{{ table.name }}' in Database '{{ db_name }}'</h2>
{% if error %}
<p style="color: red">Error: {{ error }}</p>
{% endif %}
<form
  action="/databases/{{ db_name }}/tables/{{ table.name }}/edit_table"
  method="post"
>
  <label for="new_table_name">Назва таблиці:</label><br />
  <input
    type="text"
    id="new_table_name"
    name="new_table_name"
    value="{{ table.name }}"
    required
  /><br /><br />
  <label for="attributes"
    >Атрибути (format: name:type, separated by commas):</label
  ><br />
  <input
    type="text"
    id="attributes"
    name="attributes"
    value="{{ attributes }}"
    required
  /><br /><br />
  <button type="submit">Оновити таблицю</button>
</form>
{% endblock %}
